/* Ogólny styl dla ciała strony */
body {
  font-family: Arial, sans-serif;
  background-color: #FCFEFF;
  color: #1A374C;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* Tytuł strony */
h1 {
  color: #1A374C;
}

/* Okno do wyświetlania zdjęcia */
.photo-container {
  margin: 20px auto;
  border: 2px solid #1A374C;
  width: 1280px;
  height: 720px;
  background-color: #e0e0e0; /* Tło, jeśli zdjęcie nie jest załadowane */
  position: relative;
}

#camera {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Przycisk do robienia zdjęcia */
button {
  background-color: #B02A64;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #8C1F4A;
}

/* Suwaki do edycji zdjęcia */
.controls {
  margin-top: 20px;
}

.controls input[type="range"] {
  width: 80%;
  margin: 10px 0;
}

/* Przycisk do zapisu zdjęcia */
#save-button {
  background-color: #4CAF50;
  margin-top: 20px;
}

#save-button:hover {
  background-color: #45a049;
}
